.border-animation {
    height: 200px;
  width: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  
  box-sizing: border-box;
  background-image: linear-gradient(to right, red 50px, transparent 50px), linear-gradient(to bottom, red 50px, transparent 50px), linear-gradient(to right, red 50px, transparent 50px), linear-gradient(to bottom, red 50px, transparent 50px);
  background-size: 5% 7px, 7px 5%, 5% 7px, 7px 5%;
  background-repeat: no-repeat;
  background-position: 0px 0px, right -50px, 200px bottom, 0px 200px;
  animation: border 5s linear infinite;
}

@keyframes border {
    20% {
        background-position: 150px 0px, right -50px, 200px bottom, 0px 200px;
      }
      25% {
        background-position: 200px 0px, right 0px, 200px bottom, 0px 200px;
      }
      45% {
        background-position: 200px 0px, right 200px, 200px bottom, 0px 200px;
      }
      50% {
        background-position: 200px 0px, right 200px, 150px bottom, 0px 200px;
      }
      70% {
        background-position: 200px 0px, right 200px, 0px bottom, 0px 200px;
      }
      75% {
        background-position: 200px 0px, right 200px, -50px bottom, 0px 150px;
      }
      95% {
        background-position: 200px 0px, right 200px, -50px bottom, 0px 0px;
      }
      95.1% {
        background-position: -150px 0px, right 200px, -50px bottom, 0px 0px;
      }
      100% {
        background-position: 1px 0px, right 2000px, -50px bottom, 0px -50px;
      }
}